:root{
    --text-h1: 4rem;
    --text-h2: 3.5rem;
    --text-h3: 3rem;
    --text-h4: 2.5rem;
    --text-h5: 2rem;
    --text-para: 1.5rem;

    /* -- Background - Colors -- */
    --bg-primary-color: hsl(0, 0%, 15%);
    --bg-food-color: hsl(0, 100%, 67%);
    --bg-fill-color: hsl(120, 100%, 93%);

    /* -- Text - Colors -- */
    --text-primary-color: hsl(0, 0%, 90%);
    --text-base-color: hsl(0, 0%, 50%);

    /* -- Spacing - Variables -- */
    --space-xs: .4rem;
    --space-sm: .8rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;
    --space-2xl: 4rem;
    --space-3xl: 4.8rem;

    /* -- Border - Color -- */
    --border-color: hsl(0, 0%, 71%);

    /* -- Border - Radius -- */
    --border-radius-xs: .4rem;
    --border-radius-sm: .8rem;
    --border-radius-md: 1.6rem;
    --border-radius-lg: 2.4rem;
    --border-radius-xl: 3.2rem;
    --border-radius-2xl: 4rem;
    --border-radius-3xl: 4.8rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
h4{
    font-size: var(--text-h4);
}
h5{
    font-size: var(--text-h5);
}

.btn{
    padding: var(--space-xs) var(--space-xl);
    cursor: pointer;
    border: none;
    border-radius: var(--space-2xl);
    transition: all .3s;
}

.btn:hover{
    transform: scale(1.05);
}

/* -- MAIN -- */
main, section{
    height: 100%;
    width: 100%;
}
section{
    padding: var(--space-md);
    flex-direction: column;
    gap: var(--space-md);
}
.infos{
    width: 100%;
    justify-content: space-between;
}
.info{
    border: .8px solid var(--border-color);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-sm);
}

.board{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    flex-grow: 1;
    border: 1px solid var(--text-primary-color);
}

.block{
    /* height: 30px;
    width: 30px; */
    font-size: var(--text-para);
    text-align: center;
    border: .1px solid var(--text-base-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(71, 71, 71, 0.657);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.start__game,
.game__over{
    flex-direction: column;
    gap: var(--space-lg);
}

.game__over{
    display: none;
}