:root{
    --text-h1: 4rem;
    --text-h2: 3.5rem;
    --text-h3: 3rem;
    --text-h4: 2.5rem;
    --text-h5: 2rem;
    --text-para: 1.5rem;

    /* -- Background - Colors -- */
    --bg-primary-color: rgb(37, 37, 37);
    --bg-secondary-color: rgb(255, 86, 86);
    --text-primary-color: rgb(230, 230, 230);
    --text-base-color: grey;
    --bg-fill-color: #dbffdb;

    /* -- Spacing - Variables -- */
    --space-xs: .4rem;
    --space-sm: .8rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;
    --space-2xl: 4rem;
    --space-3xl: 4.8rem;

    /* -- Border - Color -- */
    --border-color: rgb(181, 181, 181);

    /* -- Border - Radius -- */
    --border-radius-xs: .4rem;
    --border-radius-sm: .8rem;
    --border-radius-md: 1.6rem;
    --border-radius-lg: 2.4rem;
    --border-radius-xl: 3.2rem;
    --border-radius-2xl: 4rem;
    --border-radius-3xl: 4.8rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
h4{
    font-size: var(--text-h4);
}
h5{
    font-size: var(--text-h5);
}
main, section{
    height: 100%;
    width: 100%;
}
section{
    padding: var(--space-md);
    flex-direction: column;
    gap: var(--space-md);
}
.infos{
    width: 100%;
    justify-content: space-between;
}
.info{
    border: .8px solid var(--border-color);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-sm);
}

.board{
    grid-template-columns: repeat(auto-fill, minmax(80px , 1fr));
    width: 100%;
    grid-template-rows: repeat(auto-fill, minmax(80px , 1fr));
    display: grid;
    flex-grow: 1;
    border: 1px solid var(--text-primary-color);
}

.block{
    /* height: 30px;
    width: 30px; */
    border: .4px solid var(--text-base-color);
}

.fill{
    background-color: var(--bg-fill-color);
}